.breakfast{
  background:url("../img/middle2-back.jpg") #3b3e4e  no-repeat center top ;
  background-size: cover;
}

.breakfast__inner{
  @include wrapper;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0 60px;
  @include xs(padding,30px 0 30px);
}

.breakfast__price{
  text-align: center;
  margin-left: 110px;
  @include size-lg(6);
  @include size-sm(12);
  @include lg(margin-left,0);
  @include sm(padding-bottom,30px);
}
.breakfast__title,.breakfast__open{
  font-family: Alegreya,sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.breakfast__title{
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 3px;
  @include md(font-size,40px);
}

.breakfast__open{
  color: #c8a593;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 15px;
  @include md(font-size,16px);
}

.breakfast__full,.toast__title,.muffin__title{
  font-family: Alegreya,sans-serif;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: bold;
  @include md(font-size,26px);
}

.breakfast__full{
  margin-top: 60px;
  @include md(margin-top,40px);
}

.breakfast__text,.toast__text,.muffin__text{
  color: #c2beba;
  font-size: 16px;
  letter-spacing: 0.8px;
  @include md(font-size,14px);
}

.breakfast__text{
  margin-top: 10px;
}

.breakfast__worth,.toast__price,.muffin__price{
  font-family: Alegreya,sans-serif;
  color: #dfc691;
  font-size: 36px;
  letter-spacing: 1.8px;
  margin-top: 23px;
  @include md-block{
    font-size:30px;
    margin-top: 8px;
  };
}

.breakfast__logo{
  display: inline-block;
  margin-top: 18px;
}

.toast__text,.muffin__text{
  margin-top: 13px;
}

.toast__price{
  margin-top: 23px;
}

.muffin__title{
  margin-top: 7px;
}

.breakfast__morning{
  width: 465px;
  position: relative;
  right: -80px;
  bottom: 10px;
  @include size-lg(6);
  @include size-sm(8);
  @include size-xs(10);
  @include lg(right,0);
}

.morning__image{
  @include sm-block{
    height: 100%;
  }
}

.morning__container{
  text-align: center;
  position: absolute;
  left: 15px;
  top: 10px;
  right: 45px;
  bottom: 0;
  @include md-block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.morning__since{
  display: flex;
  justify-content: space-between;
  font-family: Alegreya,sans-serif;
  letter-spacing: 0.7px;
  font-weight: 700;
  margin: 36px 88px 0;
  @include md(width,60%);
}

.morning__logo{
  display: inline-block;
  margin-top: 8px;
}

.morning__title{
  font-family: Alegreya,sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.1px;
  margin-top: 53px;
  @include md-block{
    font-size: 36px;
    margin-top: 20px;
  };
}

.morning__text{
  line-height: 30px;
  letter-spacing: 0.7px;
  margin: 30px 20px;
  @include md(margin,10px 20px);
  @include sm(margin,10px 0);
}

.morning__button{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #9e9c93;
  padding: 9px 70px;
  margin-top: 18px;
  font-family: Alegreya,sans-serif;
  color: #a47d5e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  transition: all 0.2s ease-in-out;
  &:hover{
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 5px;
  }
  @include sm(margin,auto 0 60px 0);
  @include xs(margin-bottom,30px);
}

.image__grain{
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}