@include reset;

header{
  color: #ffffff;
  text-align: center;
  background: #3f403c url("../img/header-back.jpg") center top no-repeat;
  background-size: cover;
}

.header__inner{
  background-color: rgba($color-default,.53);
}

.header{
  @include wrapper;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lg(justify-content,center);
  .logo{
    font-family: Scriptina,sans-serif;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 9px;
    padding-bottom: 10px;
  }
}

.menu{
  @include lg-block{
    position: fixed;
    width: 200px;
    top: 0;
    height: 100%;
    right: -200px;
    background-color: rgba($color-default,.53);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    .menu__item{
      display: block;
      border-bottom: 1px solid rgba(white,.8);
    }
  }
}

.menu__opened{
  @include lg(right,0);
}

.menu__item{
  display: inline-block;
  margin: 0 15px;
  .tilda{
    position: relative;
    left: 15px;
    top: 4px;
    @include lg(display,none);
  }
}

.menu__link{
  border: 1px solid transparent;
  @include lg(border,none);
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4.2px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &:hover{
    @include lg(border,none);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(white,.5);
    border-radius: 10px;
    text-shadow: 2px 2px 5px;
  }
}


.menu-mobile{
  border: 1px solid transparent;
  border-radius: 10px;
  &:hover{
    border: 1px solid rgba(white,.5);
    transition: all 0.2s ease-in-out;
  }
}

.menu-mobile__button{
  outline: none;
}
.socials{
  margin-top: 5px;
  @include lg-block{
    position: fixed;
    width: 200px;
    right: -200px;
    bottom: 0;
    z-index: 11;
    transition: all 0.3s ease-in-out;
  };
}

.menu__opened ~ .socials{
  right: 0;
  transition: all 0.3s ease-in-out;
}

.socials__link{
  display: inline-block;
  svg{
    transition: all 0.2s ease-in-out;
    fill: white;
    height: 16px;
    margin-left: 18px;
  }
  &:hover{
    svg{
      transition: all 0.2s ease-in-out;

    }
    .socials__twitter{
      fill: #02ABED;
    }
    .socials__facebook{
      fill: #4964A2;
    }
    .socials__instagram{
      fill: black;
    }
  }
}

.about__inner{
  @include wrapper;
  padding-bottom: 214px;
  @include md(padding-bottom,180px);
  @include sm(padding-bottom,100px);
  @include xs(padding-bottom,70px);
}

.about__title{
  display: block;
  font-family: 'PlayfairDisplay',sans-serif;
  font-weight: bold;
  font-size: 92px;
  letter-spacing: 6.5px;
  margin-top: 237px;
  text-shadow: 0 1px 0 #3d3029;
  @include md-block{
    font-size: 80px;
    line-height: 1.65;
  }
  @include sm-block{
    font-size: 60px;
    margin-top: 150px;
  }
  @include xs-block{
    font-size: 48px;
    margin-top: 100px;
  }
}

.about__line{
  display: inline-block;
  margin-top: 100px;
  @include sm(margin-top,50px);
}

.about__slogan{
  font-family: $font-default;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.4px;
  margin: 50px auto 0;
  max-width: 550px;
  @include sm(font-size,18px);
}

.about__menu{
  display: inline-block;
  padding: 11px 47px;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: #ffffff;
  margin-top: 65px;
  background-color: rgba($color-default,.53);
  border: 1px dashed #9e9c93;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 5px;
  }
}

.logo__wheel,.wheel__back{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
.logo__wheel{
  z-index: 2;
}

.wheel__back{
  display: inline-block;
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
}



