@include reset;

.header__outer{

}

header{
  color: #ffffff;
  text-align: center;
  background: #3f403c url("../img/header-back.jpg") center top no-repeat;
  background-size: cover;
}

.header__inner{
  background-color: rgba($color-default,.53);
}

.header{
  @include wrapper;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    font-family: Scriptina,sans-serif;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 9px;
    padding-bottom: 10px;
  }
}

.menu__item{
  display: inline-block;
  margin: 0 15px;
  .tilda{
    position: relative;
    left: 15px;
    top: 4px;
  }
}

.menu__link{
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4.2px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &:hover{
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(white,.5);
    border-radius: 10px;
    text-shadow: 2px 2px 5px;
  }
}

.socials{
  margin-top: 5px;
}

.socials__link{
  display: inline-block;
  svg{
    transition: all 0.2s ease-in-out;
    fill: white;
    height: 16px;
    margin-left: 18px;
  }
  &:hover{
    svg{
      transition: all 0.2s ease-in-out;

    }
    .socials__twitter{
      fill: #02ABED;
    }
    .socials__facebook{
      fill: #4964A2;
    }
    .socials__instagram{
      fill: black;
    }
  }
}

.about__inner{
  @include wrapper;
  padding-bottom: 214px;
}

.about__title{
  display: block;
  font-family: 'PlayfairDisplay',sans-serif;
  font-weight: bold;
  font-size: 92px;
  letter-spacing: 6.5px;
  margin-top: 237px;
  text-shadow: 0 1px 0 #3d3029;
}

.about__line{
  display: inline-block;
  margin-top: 100px;
}

.about__slogan{
  font-family: $font-default;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.4px;
  margin: 50px auto 0;
  max-width: 550px;
}

.about__menu{
  display: inline-block;
  padding: 11px 47px;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: #ffffff;
  margin-top: 65px;
  background-color: rgba($color-default,.53);
  border: 1px dashed #9e9c93;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 5px;
  }
}

.logo__wheel,.wheel__back{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
.logo__wheel{
  z-index: 2;
}

.wheel__back{
  display: inline-block;
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
}

