.pancakes{
  background: #ecece7 url("../img/middle-back.jpg") no-repeat center top;
  background-size: cover;

}

.pancakes__inner{
  @include wrapper;
  text-align: center;
  padding-bottom: 100px;
  @include xs(padding-bottom,30px)
}

.pancakes__block{
  margin-top: 140px;
  display: inline-block;
  width: 965px;
  position: relative;
  right: 50px;
  filter: drop-shadow(0 25px 30px rgba(105, 80, 58, 0.45));
  @include size-lg(11);
  @include sm-block{
    width: auto;
    position: static;
  }
  @include xs(margin-top,60px);
}

.pancakes__image{
  @include sm(position,relative);
}

.pancakes__photo{
  @include sm(width,100%);
}

.pancakes__corner{
  position: absolute;
  left: 0;
  bottom: 0;
  @include sm(display,none);
}

.pancakes__rating{
  position: absolute;
  left: 28px;
  top: 185px;
  img{
    width: 22px;
    margin-bottom: 9px;
  }
  @include xs-block{
    top: 20px;
  }
}

.pancakes__about{
  background: #f4f2f0 url("../img/Vektor-Smartobjekt_windmill.png") no-repeat right bottom;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 420px;
  text-align: left;
  @include sm(position,static);
}

.pancakes__about-inner{
  position: relative;
  height: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include md(padding,0 40px);
  @include sm(text-align,center);
}

.pancakes__title{
  font-family: Alegreya,sans-serif;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-weight: 700;
  padding-top: 86px;
  @include lg-block{
    padding-top: 50px;
    line-height: 1.8rem;
  };
  @include md(padding-top,40px);
  @include sm(font-size,35px)
}

.pancakes__description{
  font-family: Alegreya,sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #a47d5e;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 16px;
}

.pancakes__text{
  line-height: 24px;
  letter-spacing: 1.4px;
  margin-top: 30px;
  @include sm(padding-bottom,30px);
}

.pancakes__slider{
  position: relative;
  height: 90px;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 360px;
  @include lg(width,240px);
  @include md(width,120px);
  @include sm-block{
    width: 480px;
    text-align: left;
  };
  @include xs(width,240px);
}

.slider__button{
  outline: none;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid $color-default;
  border-radius: 50%;
  top: 28px;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
}

.slider__button--left{
  left: -32px;
}

.slider__button--right{
  right: -32px;
}

.slider__gallery{
  overflow: hidden;
}

.slider__container{
  width: 9999px;
  transition: margin-left 0.6s;
}

.slider__item{
  display: inline-block;
}

.slider__link{
  margin: 0 14px;
}

.slider__image{
  display: inline-block;
  border-radius: 50%;
  width: 90px;
}

.pancakes__ready{
  font-family: Alegreya,sans-serif;
  position: absolute;
  width: 200px;
  display: inline-block;
  text-align: center;
  right: -102px;
  top: -43px;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #f4f2f0 url("../img/Vektor-Smartobjekt-yard.png") no-repeat right bottom;
  padding-bottom: 27px;
  box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);
  @include md(top,-140px);
  @include sm-block{
    right: 10px;
    top: -43px;
  }
  @include xs-block{
    width: 100px;
    padding-bottom: 15px;
  }
}

.ready__title{
  font-size: 18px;
  color: #a47d5e;
  text-transform: uppercase;
  margin-top: 28px;
  @include xs-block{
    margin-top: 15px;
    font-size: 14px;
  };
}

.ready__time{
  color: #dfc691;
  font-size: 92px;
  margin-top: 42px;
  letter-spacing: 6px;
  @include xs-block{
    font-size: 40px;
    margin-top: 5px;
  };
}

.ready__minutes{
  color: #979285;
  margin-top: 32px;
  font-size: 16px;
  letter-spacing: 3px;
  @include xs-block{
    margin-top: 10px;
    font-size: 14px;
  }
}

