.pancakes{
  background: #ecece7 url("../img/middle-back.jpg") no-repeat center top;
  background-size: cover;

}

.pancakes__inner{
  @include wrapper;
  text-align: center;
  padding-bottom: 100px;
}

.pancakes__block{
  margin-top: 140px;
  display: inline-block;
  width: 965px;
  position: relative;
  right: 50px;
  filter: drop-shadow(0 25px 30px rgba(105, 80, 58, 0.45));
  @include size-lg(11);
}

.pancakes__corner{
  position: absolute;
  left: 0;
  bottom: 0;
}

.pancakes__rating{
  position: absolute;
  left: 28px;
  top: 185px;
  img{
    width: 22px;
    margin-bottom: 9px;
  }
}

.pancakes__about{
  background: #f4f2f0 url("../img/Vektor-Smartobjekt_windmill.png") no-repeat right bottom;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 420px;
  text-align: left;
  @include md(position,static);
  @include size-md(12);
}

.pancakes__about-inner{
  position: relative;
  height: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pancakes__title{
  font-family: Alegreya,sans-serif;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-weight: 700;
  padding-top: 86px;
}

.pancakes__description{
  font-family: Alegreya,sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #a47d5e;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 16px;
}

.pancakes__text{
  line-height: 24px;
  letter-spacing: 1.4px;
  margin-top: 52px;
}

.pancakes__slider{
  position: relative;
  margin-top: auto;
  height: 90px;
  padding: 0 32px 40px;
}

.slider__button{
  outline: none;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid $color-default;
  border-radius: 50%;
  top: 28px;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
}

.slider__button--left{
  left: 0;
}

.slider__button--right{
  right: 0;
}

.slider__gallery{
  overflow: hidden;
  margin: 0 auto;
  width: 360px;
  @include lg(width,240px);
  @include md(width,200px);
}

.slider__container{
  width: 9999px;
  transition: margin-left 0.3s;
}

.slider__item{
  display: inline-block;
}

.slider__link{
  margin: 0 14px;
}

.slider__image{
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  @include md(width,70px);
}

.pancakes__ready{
  font-family: Alegreya,sans-serif;
  position: absolute;
  width: 200px;
  display: inline-block;
  text-align: center;
  right: -102px;
  top: -43px;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #f4f2f0 url("../img/Vektor-Smartobjekt-yard.png") no-repeat right bottom;
  padding-bottom: 27px;
  box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);
}

.ready__title{
  font-size: 18px;
  color: #a47d5e;
  text-transform: uppercase;
  margin-top: 28px;
}

.ready__time{
  color: #dfc691;
  font-size: 92px;
  margin-top: 42px;
  letter-spacing: 6px;
}

.ready__minutes{
  color: #979285;
  margin-top: 32px;
  font-size: 16px;
  letter-spacing: 3px;
}

