.sandwich__outer{
  background-color: #f3f1e9;
}

.sandwich{
  @include wrapper;
  text-align: center;
  padding-bottom: 65px;
  @include lg(padding-bottom,0);
  @include md(padding-bottom,40px);
}

.sandwich__logo{
  display: inline-block;
}

.sandwich__title,.sandwich__slogan{
  font-family: Alegreya,sans-serif;
  font-weight: 700;
}

.sandwich__title{
  font-size: 48px;
  margin-top: -44px;
  letter-spacing: 1.2px;
  @include sm-block{
    font-size: 40px;
    line-height: 2.2rem;
  }
}

.sandwich__slogan{
  color: #a47d5e;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-top: 15px;
}

.sandwich__inner{
  @include row-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
  @include md(margin-top,15px);
}

.sandwich__consist{
  @include size(3);
  @include size-md(12);
  @include md(display,flex);
  @include xs-block{
    flex-wrap: wrap;
    justify-content: center;
  };
}

.consist__item{
  padding-bottom: 52px;
  @include size-xs(8);
}

.consist__image{
  display: inline-block;
}

.consist__title{
  font-family: Alegreya,sans-serif;
  color: #a47d5e;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.75px;
  margin-top: 13px;
}

.consist__description{
  letter-spacing: 1.4px;
  line-height: 20px;
  margin-top: 22px;
}


.sandwich__prepare{
  margin-right: 15px;
  @include size(8);
  position: relative;
  margin-bottom: 30px;
  @include size-md(12);
}

.sandwich__image{
  border: 10px solid #ffffff;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
}

.prepare__minutes{
  position: absolute;
  top: -15px;
  right: -10px;
  height: 100%;
  width: 200px;
  text-align: center;
  @include lg(top,-100px);
  @include md(top,-15px);
  @include sm-block{
    width: 150px;
    top: 0;
  };
  @include xs-block{
    box-sizing: border-box;
    top: -10px;
    width: 310px;
  };
}

.prepare__item{
  box-sizing: border-box;
  background-color: rgba(white,.8);
  width: 200px;
  height: 200px;
  margin-bottom: 1px;
  padding-top: 35px;
  &:last-child{
    background: white url("../img/Vektor-Smartobjekt-yard.png") no-repeat right bottom ;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
  }
  @include sm-block{
    width: 150px;
    height: 150px;
    padding-top: 15px;
  };
  @include xs-block{
    width: 100px;
    display: inline-block;
    height: 120px;
  }
}

.prepare__title,.prepare__time,.prepare__min{
  font-family: Alegreya,sans-serif;
  font-weight: 700;
}

.prepare__title{
  font-size: 18px;
  color: #a47d5e;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  @include sm(font-size,14px);
}

.prepare__time{
  font-size: 60px;
  letter-spacing: 6px;
  margin-top: 20px;
  @include sm-block{
    font-size: 40px;
    margin-top: 5px;
  }
}

.prepare__min{
  color: #979285;
  letter-spacing: 1.8px;
  margin-top: 20px;
  @include xs(margin-top,10px);
}

.full__recipe{
  cursor: pointer;
  position: absolute;
  left: -15px;
  bottom: -10px;
  border: 1px dashed #dfc691;
  background-color: #ffffff;
  font-family: Alegreya,sans-serif;
  color: #dfc691;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding: 15px 25px;

  transition: all 0.2s ease-in-out;
  &:hover{
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 5px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
  }
}